* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: rgb(15, 14, 17);
}
.navBar-container img{
    height: 100px;
    min-width: 150px;
}
.navBar-container{
    display: flex;
    gap: 30%;
    margin-top: 3%;
    margin-left: 8%;
}
.navbar {
    display: flex;
    gap: 15%;
    margin-top: 3%;
    position: relative;
}
a {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}
a::after {
    content: '';
    display: block;
    visibility: hidden;
    width: 0%;
    border: 2px solid rgb(77, 41, 193);
}
a:hover::after{
    width: 100%;
    visibility: visible;
    color:rgb(77, 41, 193);
    transition: 0.3s;
}
.intro {
    width: 90%;
    margin-top: 10%;
    margin-left: 10%;
}
.intro h2{
    color: white;
    font-size: 30px
}
.intro span{
    color: rgb(39, 111, 230);
}
.intro h1{
    color: white;
    font-size: 50px;
}
.intro h3{
    color: white;
    word-break: keep-all;
    width: 53%;
}
.buttons {
    display: flex;
    gap: 2%;
}
.buttons button{
    cursor: pointer;
    border: none;
    padding: 13px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(77, 41, 193);
    background-color: transparent;
    color: white;
    border-radius: 20px;
}
.buttons button:hover{
    background-color: rgb(77, 41, 193);
    transition: 0.3s;
    box-shadow: 2px 2px 12px 3px rgba(77,41,193,0.75);
}

@media only screen and (max-width: 700px) {
    .intro {
        margin-top: 25%;
    }
   .intro h3{
    word-break: keep-all;
   }
   .navBar-container{
    width: 10%;
   }
   .navbar{
    visibility: hidden;
   }
   
   .navBar-container img{
     visibility:visible;
   }
}